body {
    margin-top:100px;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#cccccc;
    content: 
    }




header.masthead{
    display: none;
    padding-top: 1px;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgb(0 0 0 / 40%) 0%, rgb(245 242 240 / 45%) 100%), url(../assets/img/theater-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover

}

.card{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: none;

}
#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color:#08c;
}
.row .justify-content-center{
	display: flex;
}
.bg-light .py-5{
 display: flex;
}



nav#mainNav {
    background:rgb(168,168,168);
    color: white !important;
    /*border:#08c 2px solid;
    border-top-width:3px ;
    border-bottom-width:5px;*/
}
.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}
hr.divider#border-none {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f8f9fa;
}
.text-muted {
    color: black !important;
}
.mb-5, .my-5 {
    margin-bottom: 1rem !important;
}
.navbar-brand {

    display: inline-block;
    position: relative !important;
    right: 0;
    left: 30px;
    padding-top: 0;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}
h4, .h4 {
    font-size: 2.5rem;
}
#copy-right{
    display: none;
}
#no-display{
    display: none;
}
#test{
    background-color: red;
}
.error{
    font-color: red;
}